/* Please scroll down to the start of your exercise! */

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

section {
  background-color: lemonchiffon;
  display: grid;
  place-items: center;
}

.skyblue {
  background-color: skyblue;
}

button {
  background-color: white;
  padding: 8px 25px;
}

/* Your exercise starts here. */

/* Add your CSS styles below this line. Feel free to replace the comments with your code. 
Make sure not to put your code into the comments, because then nothing will happen. */

.button1 {
  border: 1em dotted red;
  border-radius: 100px;
}

.button2 {
  color: hsl(137, 57%, 40%);
  background-color: rgb(97, 57, 95);
}

.button3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
}

.button4 {
  box-shadow: 10px 5px 5px red;
}
