.question_card {
  position: relative;
  text-align: center;
  border: none;
  border-radius: 8px;
  margin: 2em 1em;
  padding: 1.5em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.bookmark-icon {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 1.5rem;
  cursor: pointer;
}

.category_list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding-left: 1em;
  list-style: none;
}

.category {
  padding: 0.3em 0.6em;
  border-radius: 8px;
  border: 1px solid;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: lightcyan;
  font-weight: bold;
}
